<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.kotlinbootcamp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name="kotlinbootcamp.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup">

        <activity android:name="kotlinbootcamp.mainscreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="kotlinbootcamp.basicappanatomy.BasicAppAnatomyActivity"/>
        <activity android:name="kotlinbootcamp.imagerscsandcompatibility.ImageResourcesActivity"/>
        <activity android:name="kotlinbootcamp.constraintlayout.ColorMyViewsActivity"/>
        <activity android:name="kotlinbootcamp.databinding.BindDataActivity"/>
        <activity android:name="kotlinbootcamp.navigationpaths.NavigationMainActivity"/>
        <activity android:name="kotlinbootcamp.lifecycleandlogging.ClickerActivity"/>
        <activity android:name="kotlinbootcamp.viewmodelandviewmodelfactory.GuessTheWordActivity"/>
        <activity android:name="kotlinbootcamp.coroutinesandroom.SleepActivity"/>
        <activity android:name="kotlinbootcamp.marsrealestate.MarsActivity"/>
        <activity android:name="kotlinbootcamp.devbyteviewer.ui.DevByteActivity"/>

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>